/* *{ */
    /* padding: 0; */
    /* margin: 0;
} */
.navbar {
    padding: 0.41vh;
    transition: 0.8s;


}.navbar.scroll{
    background: #3498db;
}



.navbar-nav {
    padding-left: 200px;
    display: flex;  
 

}

.nav-item {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: #fff !important;
    margin-left: 3vw;
    transition: 0.5s;
    border-radius: 50px;
    text-transform: capitalize;
    cursor: pointer;
    font-size: 20px;
    
}

.nav-item:hover {
    transform: translate(1px);
    background: #dc3445;
    font-size: large; 
    text-align: center;
    color: #000;
   

    
}
.sachin{
    margin-left: 33vw;
    font-style: italic;
    font-weight: bold;
    font-display: inherit;
    cursor: pointer;
   background: transparent;
   color: #000;
   /* border-radius: 50px; */
}
.sachin:hover{
    transform:none
}

.navbar-brand {
    position: relative;
    font-family: Impact;
    letter-spacing: 2px;
    background: linear-gradient(100deg, pink, #ff0000, #fff, green, red);
    background-repeat: repeat;
    background-color: #fff;
    background-size: 80%;
    animation: animate 25s infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    font-weight: bold;
    font-style: italic;
    padding-left: 40px;
    padding-right: 200px;
    font-size: 50px;
    text-transform: uppercase;
}

@keyframes animate {
    0% {
        background-position: -500%;
    }

    100% {
        background-position: 500%;
    }
}

.header {
    margin: 0;
    padding: 0;

}

.header .img-parent {
    position: relative;
}

.header img {
    height: 100vh;
    width: 100%;

}

.img-overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: #000;
    z-index: 1;
    opacity: 0.4;
}

.header .img-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #fff !important;
    text-align: center !important;
    justify-content: center !important;

}

.header .img-content h2{
    font-weight: bold;
    font-style: italic;
    font-size: 60px;
    margin-bottom: 20px !important;
    color: whitesmoke

}
.header .img-content span{
    font-weight: 500;
    font-size: 20px;
    font-style: italic;
    letter-spacing: 0.2px;
}

/* Event Section  */
.event{
    margin: 20px auto;
    
    
}

.event-content{
    box-shadow: 10px 10px 10px -10px, #000 , inset 10px 10px 10px -10px #000;
    padding: 10px;
    background: whitesmoke;
    cursor: pointer;
    margin-top: -70px !important;
    position: absolute;
}
.event-content h4{
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 5px;
    text-align: center;

}
.event-content span{
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
    margin-bottom: 5px;
    
    text-align: justify; 
    -moz-text-align-last: center; 
    text-align-last: center;
}
.event-content a{
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px !important;
    text-align: center; 
    margin-left: 200px;
    text-align-last: center;
}
.event img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.event .col-sm-5{
    /* margin-bottom: 200px !important; */
    margin-bottom: 30vh !important;

}
.dropdown{
    align-items: flex-end;
    margin-left: 200px !important;
    position: -ms-page;
    
}



.account {
    width: 100%;
    padding-left: 15px;
    margin-left: 15px;
    float: none;
    font-style: italic;
    background-color: #f8f9fa;
    color: #000;
    list-style: none;

}
::after ::before {
    box-sizing: border-box;
}
.about{
    align-content: center;
    margin-left: 34vw;
}